/* prevents adjustments of font size after orientation changes in IE on windows phone and in iOS */

html {-webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

/*apply natural box model to all elements */

*{-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}

/*body*/

body {
    font-family: 'Ubuntu', sans-serif;
    color: #3c3c3c;
   margin:0;
}


/*navbar*/

nav {
    width: 100%;
}

nav ul {
    margin: 0;
    padding: 20px;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: #e0ebe8;
    list-style-type: none;
    width: 100%;
  }

  nav ul li {
   padding: 20px;
     }

     nav ul li a {
         text-decoration: none;
     }

/* main */

.intro {
    top: 0;
    background: #e0ebe8;
    height: 100vh;
    color: #008080;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projects {
    margin: 0 2%;
}

.projects h2 {
    text-align: center;
}

figure.work {
   display: inline-block;
   margin-left: 20%;
}

.contact {
    margin: 0 2%;
   
}

.contact h1 {
    text-align: center;
    margin-top: 50px;
}

.contact p {
    text-align: center;
}

    .contact-details {
        display: inline-block;
        font-weight: bold;
        margin: 50px 100px;
        list-style-type: none;
        border: 2px solid #90C695;
        border-radius: 100%;
        width: 100px;
        height: 100px;
        line-height: 100px;
        background: #e0ebe8;
        color: #008080;
        text-decoration: none;
        text-align: center;
      }

.starWars {
    background-color: #e0ebe8;
}

.starWars .starWarsBanner {
    width: 100%;
}

.starWars .starWarsBanner img {
    width: 100%;
}

.starWars h1 {
    text-align: center;
    padding-top: 2rem;
}

.starWars p#subheading {
    text-align: center;
}
      .film-info {
        border: none;
        border-width: 1;
        padding: 15px;
        width: 33%;
        display: inline-block;
    }


    
    div.film-info h3 {
        color: #008080;
    }      

/*FOOTER*/

footer {
    text-align: center;
}
      
      @media only screen and (max-width: 500px) {
          main {
            background-color: #EAFEFC;
          }
      }

      /* TESTING GIT*/

